<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404 - hbs</title>
</head>
<body>
    <div style="margin: 5rem; ">
        <h1>404: Try again.</h1>
        The page at {{ uri }} does not exist!
    </div>
</body>
</html>