{{#*inline "page"}}
    <section id="main">
        <h1>Encode identifier: {{ identifier }}</h1>

        <textarea readonly id="progress"></textarea>
    </section>
    <script src="/public/progress.js"></script>
{{/inline}}
{{> hbs/layout}}